.yellow-ui {
	color : #ffdb0d;
}

.navbar-nav li.active a {
	border-bottom: 2px solid black;
}

.no-border {
    border: none !important;
    background-color: white !important;
}

.center {
	text-align: center !important;
}

.td-pad {
	padding-bottom: 12px;
}

.pagination li.active a {
	background-color: #ffdb0d !important;
	border-color: transparent !important;
}

.pagination li:hover:not(.active) a {
	background-color: #ddd !important;
}

.box {
    padding: 30px 40px;
    background: #f2f2f2;
    width: 300px;
    border-radius: 10px;;
}

.transparant {
	width: 200px;
	background-color: #f2f2f2 !important;
	border: none;
}

.inline {
	display: inline-block;
}

.label-width {
	width: 130px;
}