{% extends "app/base.html" %}

{% block nav-dgb-suggestionHistory %}
<li class="nav-item active"><a class="nav-link" href="#"> Riwayat Usulan </a></li>
{% endblock %}

{% block content %}
<!-- Accepted application title -->
<div class="row table_title">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th><h4 align="center">Riwayat Berhasil</h4></th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>

<!-- Accepted application list -->
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table id="applicationList" class="table table-striped">
            <thead class="thead-inverse">
            <tr>
                <th width="15%">Nama</th>
                <th width="10%">NIP</th>
                <th width="15%">Fakultas</th>
                <th width="10%">Jabatan</th>
                <th width="25%">Jabatan diusulkan</th>
                <th width="5%">Berkas</th>
                <th width="15%">Acc Letter</th>
                <th width="5%">Log</th>
            </tr>
            </thead>
            <tbody>
            {% for accepted_application in accepted_applications %}
            <tr>
                <td>{{accepted_application.name}}</td>
                <td><a href="#">{{accepted_application.nip}}</a></td>
                <td>{{accepted_application.faculty}}</td>
                <td>{{accepted_application.current_level}}</td>
                <td>{{accepted_application.destination_level}}</td>
                <td class="button"><a href="{% url 'download_berkas' cyd_id=accepted_application.cyd_id %}">
                    <button class="btn-default" style="font-size: 13px">Unduh</button>
                </a></td>
                <td class="button"><a href="{% url 'download_acc' cyd_id=accepted_application.cyd_id %}">
                    <button class="btn-default" style="font-size: 13px">Unduh</button>
                </a></td>
                <td><a>
                    <button id="acceptedLogBtn" onclick="viewLog('{{accepted_application.name}}')" class="btn-default"
                            data-toggle="modal" data-target="#view-log" style="font-size: 13px">Lihat
                    </button>
                    <div style="display:none; background: none;" id="{{accepted_application.name}}">
                        {% if accepted_application.logs %}

                        {% for log in accepted_application.logs %}
                        <p><b>Revisi {{ log.revision_number }}</b></p>
                        <table class="table-striped" style="font-size:14px;">
                            <col width="20px"/>
                            {% for note in log.notes %}
                            <tr>
                                <td valign="top">{{forloop.counter}}.</td>
                                <td>{{note.regulation_question.question}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="td-pad">{{note.record}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        <hr>
                        {% endfor %}

                        {% else %}
                        <h4 align="center">Tidak ada catatan</h4>
                        {% endif %}
                    </div>
                </a>
                </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>

<!-- Accepted pagination -->
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        {% if accepted_applications.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if accepted_applications.has_previous %}
            <li class="page-item"><a style="color: black;" class="page-link"
                                     href="?acc_page={{ accepted_applications.previous_page_number }}">Prev</a></li>
            {% else %}
            <li class="page-item disabled"><a style="color: black;" class="page-link"><span>Prev</span></a></li>
            {% endif %}
            {% for i in accepted_applications.paginator.page_range %}
            {% if accepted_applications.number == i %}
            <li class="page-item active"><a style="color: black;" class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
            </li>
            {% else %}
            <li class="page-item"><a style="color: black;" class="page-link" href="?acc_page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if accepted_applications.has_next %}
            <li class="page-item"><a style="color: black;" class="page-link"
                                     href="?acc_page={{ accepted_applications.next_page_number }}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><a style="color: black;" class="page-link"><span>Next</span></a></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-1"></div>
</div><br><br>

<!-- Rejected application title -->
<div class="row table_title">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table table-striped table-sm" style="font-size:15px;">
            <thead>
            <tr>
                <th><h4 align="center">Riwayat Ditolak</h4></th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>

<!-- Rejected application list -->
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table table-striped">
            <thead class="thead-inverse">
            <tr>
                <th width="15%">Nama</th>
                <th width="10%">NIP</th>
                <th width="15%">Fakultas</th>
                <th width="10%">Jabatan</th>
                <th width="25%">Jabatan diusulkan</th>
                <th width="5%">Berkas</th>
                <th width="15%">Acc Letter</th>
                <th width="5%">Log</th>
            </tr>
            </thead>
            <tbody>
            {% for rejected_application in rejected_applications %}
            <tr>
                <td>{{rejected_application.name}}</td>
                <td><a href="#">{{rejected_application.nip}}</a></td>
                <td>{{rejected_application.faculty}}</td>
                <td>{{rejected_application.current_level}}</td>
                <td>{{rejected_application.destination_level}}</td>
                <td class="button"><a href="{% url 'download_berkas' cyd_id=rejected_application.cyd_id %}">
                    <button class="btn-default" style="font-size: 13px">Unduh</button>
                </a></td>
                <td class="button"><a href="{% url 'download_acc' cyd_id=rejected_application.cyd_id %}">
                    <button class="btn-default" style="font-size: 13px">Unduh</button>
                </a></td>
                <td><a>
                    <button id="rejectedLogBtn" onclick="viewLog('{{rejected_application.name}}')" class="btn-default"
                            data-toggle="modal" data-target="#view-log" style="font-size: 13px">Lihat
                    </button>
                    <div style="display:none; background: none;" id="{{rejected_application.name}}">
                        {% if rejected_application.logs %}

                        {% for log in rejected_application.logs %}
                        <p><b>Revisi {{ log.revision_number }}</b></p>
                        <table class="table-striped" style="font-size:14px;">
                            <col width="20px"/>
                            {% for note in log.notes %}
                            <tr>
                                <td valign="top">{{forloop.counter}}.</td>
                                <td>{{note.regulation_question.question}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="td-pad">{{note.record}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        <hr>
                        {% endfor %}

                        {% else %}
                        <h4 align="center">Tidak ada catatan</h4>
                        {% endif %}
                    </div>
                </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>

<!-- Rejected pagination -->
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        {% if rejected_applications.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if rejected_applications.has_previous %}
            <li class="page-item"><a style="color: black;" class="page-link"
                                     href="?rej_page={{ rejected_applications.previous_page_number }}">Prev</a></li>
            {% else %}
            <li class="page-item disabled"><a style="color: black;" class="page-link"><span>Prev</span></a></li>
            {% endif %}
            {% for i in rejected_applications.paginator.page_range %}
            {% if rejected_applications.number == i %}
            <li class="page-item active"><a style="color: black;" class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
            </li>
            {% else %}
            <li class="page-item"><a style="color: black;" class="page-link" href="?rej_page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if rejected_applications.has_next %}
            <li class="page-item"><a style="color: black;" class="page-link"
                                     href="?rej_page={{ rejected_applications.next_page_number }}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><a style="color: black;" class="page-link"><span>Next</span></a></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-1"></div>
</div>

<!-- Pop-up for application log record -->
<div class="modal fade" id="view-log" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="mx-auto">
                    <h4 class="modal-title"> Catatan Revisi </h4>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="p-3" id="log"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}