{% extends "app/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/fakultas_pantau_aktif.css' %}">
{% endblock %}

{% block nav-fakultas-home %}
<li class="nav-item active" > <a class="nav-link" href="#"> Home </a> </li>
{% endblock %}

{% block content %}
<div class="row" id="title">
	<div class="col-md-3"></div>
	<div class="col-md-6"><h2>DAFTAR CALON YANG DIUSULKAN</h2></div>
	<div class="col-md-3"></div>
</div>

<br><br><br>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <ul class="nav nav-tabs">
	<li class="nav-item" >
		<a style="color: black;" class="nav-link" href="{% url 'fakultas_pantau_aktif' %}">Aktif</a>
	</li>
	<li class="nav-item">
		<a style="color: black;" class="nav-link active">Disetujui</a>
	</li>
	<li class="nav-item">
		<a style="color: black;" class="nav-link" href="{% url 'fakultas_pantau_dibatalkan' %}">Dibatalkan</a>
	</li>
</ul>
    </div>
    <div class="col-md-1"></div>
</div>

<br><br>

<div class="row table_title">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="mytable table table-striped table-sm">
            <thead>
            <tr>
                <th><h4 align="center">Aplikasi Disetujui</h4></th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<table class="mytable table table-striped" style="font-size:15px;">
			<thead class="thead-inverse">
			<tr class="list-table">
				<th class="list-table">Nama</th>
				<th class="list-table">NIP</th>
				<th class="list-table">Jabatan</th>
				<th class="list-table">Jabatan Diusulkan</th>
				<th class="list-table">Waktu Disetujui</th>
			</tr>
			</thead>
			<tbody>
			{% for cyd in cyd_disetujui %}
			<tr class="list-table">
				<td class="list-table">{{cyd.name}}</td>
				<td class="list-table">{{cyd.nip}}</td>
				<td class="list-table">{{cyd.level}}</td>
				<td class="list-table">{{cyd.dest_level}}</td>
				<td class="list-table">{{cyd.time}}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		{% if cyd_disetujui.has_other_pages %}
		<ul class="pagination justify-content-center">
			{% if cyd_disetujui.has_previous %}
			<li class="page-item"><a style="color: black;" class="page-link" href="?page3={{ cyd_disetujui.previous_page_number }}">Prev</a></li>
			{% else %}
			<li class="page-item disabled"><a style="color: black;" class="page-link"><span>Prev</span></a></li>
			{% endif %}
			{% for i in cyd_disetujui.paginator.page_range %}
			{% if cyd_disetujui.number == i %}
			<li class="page-item active"><a style="color: black;" class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
			{% else %}
			<li class="page-item"><a style="color: black;" class="page-link" href="?page3={{ i }}">{{ i }}</a></li>
			{% endif %}
			{% endfor %}
			{% if cyd_disetujui.has_next %}
			<li class="page-item"><a style="color: black;" class="page-link" href="?page3={{ cyd_disetujui.next_page_number }}">Next</a></li>
			{% else %}
			<li class="page-item disabled"><a style="color: black;" class="page-link"><span>Next</span></a></li>
			{% endif %}
		</ul>
		{% endif %}
		{{error}}
	</div>
	<div class="col-md-1"></div>
</div>

{% endblock %}