{% extends "app/base.html" %}

{# this is comment; block nav akan replace block yang di extends #}
{% block nav-fakultas-upload %}
	<li class="nav-item active"><a class="nav-link" href="#"> Upload </a></li>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-6 offset-lg-3 col-xs-12 box">
			<h1 align="center"> Pengajuan Revisi</h1><hr>
			<form action="" method="POST" id="form_recc" enctype="multipart/form-data"> {% csrf_token %}
				<input type="text" name="confirmation" value="yes" hidden/>
				{% if staff.nip %}
				<div class="form-group">
					<label class="label-width" for="NIP"><b>NIP</b></label><b>:</b>
					<input type="text" class="form-control black-text transparant inline" id="NIP" name="NIP" value="{{ staff.nip }}" readonly>
				</div><hr>
				{% endif %}

				<div class="form-group">
					<label for="file"><b>Berkas</b></label>
					<input type="file" class="form-control-file" id="file" aria-describedby="fileHelp" name="file" accept=".zip">
					<small id="fileHelp" class="form-text text-muted">Harap masukkan berkas dalam format .zip</small>
				</div><hr>

				{% if staff.current_level %}
				<div class="form-group">
					<label class="label-width" for="current_level"><b>Jabatan Saat Ini</b></label><b>:</b>
					<input type="text" class="form-control black-text transparant inline" id="current_level" name="current_level" value="{{ staff.current_level }}"readonly>
				</div><hr>
				{% endif %}

				{% if staff.dest_level %}
				<div class="form-group">
					<label class="label-width" for="dest_level"><b>Jabatan dituju</b></label><b>:</b>
					<input type="text" class="form-control black-text transparant inline" id="dest_level" name="dest_level" value="{{ staff.dest_level }}"readonly>
				</div>
				{% endif %}
			</form>
			<div class="col-xs-12 text-center">
				{% if error %}
				<button id="submitBtn" class="btn btn-secondary" data-toggle="modal" data-target="#confirm-submit" disabled>Submit</button>
				{% else %}
				<button id="submitBtn" class="btn btn-secondary" data-toggle="modal" data-target="#confirm-submit">Submit</button>

				{% endif %}
			</div>
		</div>

		<div class="modal fade" id="confirm-submit" tabindex="-1" >
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<div class="mx-auto">
							<h3> Konfirmasi </h3>
						</div>
					</div>
					<div class="modal-body">
						<div class="p-3" >
							Apakah berkas yang dikumpulkan sudah benar?
						</div>
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
						<a href="#" id="submit" class="btn btn-primary ">Ya</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	$('#submitBtn').click(function() {
		 /* when the button in the form, display the entered values in the modal */
		 $('#detail_nip').text($('#NIP').val());
		 $('#detail_recc_type').text($('input[name="recc_type"]:checked').parent().find('span').html());
	});
	$('#submit').click(function(){
		 /* when the submit button in the modal is clicked, submit the form */
		$('#form_recc').submit();
	});
	</script>
{% endblock %}