{% extends "app/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/fakultas_pantau_aktif.css' %}">
{% endblock %}

{% block nav-fakultas-home %}
<li class="nav-item active" > <a class="nav-link" href="#"> Home </a> </li>
{% endblock %}

{% block content %}
<div class="row" id="title">
    <div class="col-md-3"></div>
    <div class="col-md-6"><h2>DAFTAR CALON YANG DIUSULKAN</h2></div>
    <div class="col-md-3"></div>
</div>

<br><br><br>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <ul class="nav nav-tabs" style="color: black;">
            <li class="nav-item" style="color: black;">
                <a class="nav-link active" style="color: black;">Aktif</a>
            </li>
            <li class="nav-item" style="color: black;">
                <a class="nav-link" style="color: black;" href="{% url 'fakultas_pantau_disetujui' %}">Disetujui</a>
            </li>
            <li class="nav-item" style="color: black;">
                <a class="nav-link" style="color: black;" href="{% url 'fakultas_pantau_dibatalkan' %}">Dibatalkan</a>
            </li>
        </ul>
    </div>
    <div class="col-md-1"></div>
</div>

<br><br>

<div class="row table_title">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="mytable table table-striped table-sm">
            <thead>
            <tr>
                <th><h4 align="center">Aplikasi Dikembalikan</h4></th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="mytable table table-striped" style="font-size:15px;">
            <thead class="thead-inverse">
            <tr class="list-table">
                <th class="list-table">Nama</th>
                <th class="list-table">NIP</th>
                <th class="list-table">Jabatan</th>
                <th class="list-table">Jabatan Diusulkan</th>
                <th class="list-table">Berkas</th>
                <th class="list-table">Acc Letter</th>
                <th class="list-table">Log</th>
                <th class="list-table">Ajukan Ulang</th>
            </tr>
            </thead>
            <tbody>
            {% for cyd in cyd_dikembalikan %}
            <tr class="list-table">
                <td class="list-table">{{cyd.name}}</td>
                <td class="list-table">{{cyd.nip}}</td>
                <td class="list-table">{{cyd.level}}</td>
                <td class="list-table">{{cyd.dest_level}}</td>
                <td class="list-table button"><a href="{% url 'download_berkas' cyd_id=cyd.id %}">
                    <button class="btn-default" style="font-size: 13px">Unduh</button></a>
                </td>
                {% if cyd.acc %}
                <td class="list-table button"><a href="{% url 'download_acc' cyd_id=cyd.id %}">
                    <button class="btn-default" style="font-size: 13px">Unduh</button></a>
                </td>
                {% else %}
                <td class="list-table">Belum tersedia</td>
                {% endif %}
                <td class="list-table button">
                    <button class="btn-default" style="font-size: 13px" data-toggle="modal" data-target="#view-log"
                            onclick="viewLog('{{cyd.id}}')">Lihat
                    </button>
                    <div style="display:none; background: none;" id="{{cyd.id}}">
                        {% for log_instance in cyd.log %}
                        <b>{{log_instance.title}}</b>
                        <div style="margin-left: 18px">
                            {{log_instance.detail}}
                            <table class="table-striped" style="font-size:14px;">
                                <col width="20px"/>
                                {% for note in log_instance.notes %}
                                <tr>
                                    <td valign="top">{{forloop.counter}}.</td>
                                    <td>{{note.regulation_question.question}}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="td-pad">{{note.record}}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                </td>
                <td class="list-table button">
                    <form method="POST" action="{% url 'fakultas_upload_revision' %}">  {% csrf_token %}
                        <input name="NIP" type="text" value="{{ cyd.nip }}" hidden />
                        <button class="btn-default" style="font-size: 13px">Ajukan</button>
                    </form>
                </td>
            </tr>

            {% endfor %}
            </tbody>
        </table>

        {% if cyd_dikembalikan.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if cyd_dikembalikan.has_previous %}
            <li class="page-item"><a style="color: black;" class="page-link" href="?page1={{ cyd_dikembalikan.previous_page_number }}">Prev</a></li>
            {% else %}
            <li class="page-item disabled"><a style="color: black;" class="page-link"><span>Prev</span></a></li>
            {% endif %}
            {% for i in cyd_dikembalikan.paginator.page_range %}
            {% if cyd_dikembalikan.number == i %}
            <li class="page-item active"><a style="color: black;" class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
            {% else %}
            <li class="page-item"><a style="color: black;" class="page-link" href="?page1={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if cyd_dikembalikan.has_next %}
            <li class="page-item"><a style="color: black;" class="page-link" href="?page1={{ cyd_dikembalikan.next_page_number }}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><a style="color: black;" class="page-link"><span>Next</span></a></li>
            {% endif %}
        </ul>
        {% endif %}

        {{error}}
    </div>
    <div class="col-md-1"></div>
</div>

<br><br><br>

<div class="row table_title">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="mytable table table-striped table-sm">
            <thead>
            <tr>
                <th><h4 align="center">Aplikasi Diproses</h4></th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="mytable table table-striped" style="font-size:15px;">
            <thead class="thead-inverse">
            <tr class="list-table">
                <th class="list-table">Nama</th>
                <th class="list-table">NIP</th>
                <th class="list-table">Jabatan</th>
                <th class="list-table">Jabatan Diusulkan</th>
                <th class="list-table">Berkas</th>
                <th class="list-table">Acc Letter</th>
                <th class="list-table">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for cyd in cyd_diproses %}
            <tr class="list-table">
                <td class="list-table">{{cyd.name}}</td>
                <td class="list-table">{{cyd.nip}}</td>
                <td class="list-table">{{cyd.level}}</td>
                <td class="list-table">{{cyd.dest_level}}</td>
                <td class="list-table button"><a href="{% url 'download_berkas' cyd_id=cyd.id %}"><button class="btn-default" style="font-size: 13px">Unduh</button></a></td>
                {% if cyd.acc %}
                <td class="list-table button"><a href="{% url 'download_acc' cyd_id=cyd.id %}"><button class="btn-default" style="font-size: 13px">Unduh</button></a></td>
                {% else %}
                <td class="list-table">Belum tersedia</td>
                {% endif %}
                <td class="list-table">{{cyd.status}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if cyd_diproses.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if cyd_diproses.has_previous %}
            <li class="page-item" style="color: black;"><a style="color: black;" class="page-link" href="?page2={{ cyd_diproses.previous_page_number }}">Prev</a></li>
            {% else %}
            <li class="page-item disabled" style="color: black;"><a style="color: black;" class="page-link"><span>Prev</span></a></li>
            {% endif %}
            {% for i in cyd_diproses.paginator.page_range %}
            {% if cyd_diproses.number == i %}
            <li class="page-item active" style="color: black;"><a style="color: black;" class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
            {% else %}
            <li class="page-item" style="color: black;"><a style="color: black;" class="page-link" href="?page2={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if cyd_diproses.has_next %}
            <li class="page-item" style="color: black;"><a style="color: black;" class="page-link" href="?page2={{ cyd_diproses.next_page_number }}">Next</a></li>
            {% else %}
            <li class="page-item disabled" style="color: black;"><a style="color: black;" class="page-link"><span>Next</span></a></li>
            {% endif %}
        </ul>
        {% endif %}
        {{error}}
    </div>
    <div class="col-md-1"></div>
</div>

<!-- Pop-up for application log record -->
<div class="modal fade" id="view-log" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="mx-auto">
                    <h4 class="modal-title"> Log Pengajuan </h4>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="p-3" id="log"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}